/* animation-name, duration, timing-function and delay */

/*
animation-iteration-count can be set to infinite in order to perpetually loop an animation

animation-direction options are forward, alterate and reverse.

animation-fill-mode specifies how any animation should apply styles BEFORE (during the animation delay, if specified) and AFTER the animation finishes

options are: forwards (100% state lingers at end of animation), backwards (0% value of animation is applied immediately BEFORE the delay), both

animation-play-state specifies whether the animation is currently running

options are paused or running.
stopping an animation all together requires removing the animation altogether and adding it anew.
*/

body {
	margin: 0;
	/* shorthand order is important; first time duration has to be animation duration, second must be animation delay */
	background-color: #2c3e50;
	animation: sky 10s linear infinite 0s;
	/* animation-timing-function: linear; */
	/* animation-duration: 10s; */
	/* animation-delay: 0; */
	/* animation-iteration-count: infinite; */
	/* animation-direction: reverse; */
}

.grass {
	background: green;
	height: 600px;
	width: 100%;
	position: absolute;
}

.sun {
	background: #f1c40f;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

@keyframes sun {
	0% {
		transform: translate(-200px, 200px);
		background-color: orange;
	}

	25% {
		transform: translate(100px, 0px);
		background-color: yellow;
	}

	50% {
		transform: translate(400px, -100px);
		background-color: yellow;
	}

	75% {
		transform: translate(700px, -50px);
		background-color: yellow;
	}

	90% {
		transform: translate(1000px, 0px);
		background-color: red;
	}

	100% {
		transform: translate(1300px, 200px);
		background-color: red;
	}
}

@keyframes sky {
	0% {
		background-color: black;
	}
	10% {
		background-color: black;
	}
	30% {
		background-color: pink;
	}
	70% {
		background-color: orange
	}
	90% {
		background-color: yellow;
	}
	100% {
		background-color: black;
	}
}

.sun {
	animation: sun 10s linear infinite 0s;
	/* animation-name: sun;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-delay: 0;
	animation-iteration-count: infinite; */
}
